/* Splash with gears */

.Luci-splash.gears {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  /* background: rgba(0,0,0, 0.2); */
  z-index: 1000;
}
.Luci-splash > .center {
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  height: 230px;
  box-shadow:
    0px 1px 3px 0px rgba(0,0,0,0.2),
    0px 1px 1px 0px rgba(0,0,0,0.14),
    0px 2px 1px -1px rgba(0,0,0,0.12);
  background: var(--color-background-paper);
}
.Luci-splash > .center > .cogs {
  background: url('cogs.gif') no-repeat;
  background-clip: padding-box;
  background-position: -175px -120px;
  height: 70px;
  width: 60px;
  margin: 20px auto 5px;
  filter: invert(var(--color-invert));
};


