# copy/paste from .eslintrc

{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "jsxBracketSameLine": true,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "semi": true,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
