<div role="presentation"
    class="base-Popper-root MuiAutocomplete-popper css-1s5lphu-MuiPopper-root-MuiAutocomplete-popper"
    style="position: absolute; inset: 0px auto auto 0px; width: 153px; margin: 0px; transform: translate(34px, 307px);"
    data-popper-placement="bottom">
    <div
        class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 Luci-AutocompleteNewPair Luci-PopperPaper css-1505kzb-MuiPaper-root">
        <ul class="MuiAutocomplete-listbox css-149m93v-MuiAutocomplete-listbox" role="listbox" id=":r8:-listbox"
            aria-labelledby=":r8:-label">
            <li tabindex="-1" role="option" id=":r8:-option-0" data-option-index="0" aria-disabled="false"
                aria-selected="false" class="MuiAutocomplete-option">that</li>
            <li tabindex="-1" role="option" id=":r8:-option-1" data-option-index="1" aria-disabled="false"
                aria-selected="false" class="MuiAutocomplete-option">the other</li>
            <li tabindex="-1" role="option" id=":r8:-option-2" data-option-index="2" aria-disabled="false"
                aria-selected="false" class="MuiAutocomplete-option">this</li>
        </ul>
    </div>
</div>

<div role="presentation"
    class="base-Popper-root MuiAutocomplete-popper css-1s5lphu-MuiPopper-root-MuiAutocomplete-popper"
    style="position: absolute; inset: 0px auto auto 0px; width: 153px; margin: 0px; transform: translate(34px, 307px);"
    data-popper-placement="bottom">
    <div
        class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 Luci-PopperPaper css-12vw55q-MuiPaper-root">
        <ul class="MuiAutocomplete-listbox css-1e47ng0-MuiAutocomplete-listbox" role="listbox" id=":r8:-listbox"
            aria-labelledby=":r8:-label">
            <li tabindex="-1" role="option" id=":r8:-option-0" data-option-index="0" aria-disabled="false"
                aria-selected="false" class="MuiAutocomplete-option">that</li>
            <li tabindex="-1" role="option" id=":r8:-option-1" data-option-index="1" aria-disabled="false"
                aria-selected="false" class="MuiAutocomplete-option">the other</li>
            <li tabindex="-1" role="option" id=":r8:-option-2" data-option-index="2" aria-disabled="false"
                aria-selected="false" class="MuiAutocomplete-option">this</li>
        </ul>
    </div>
</div>

<div role="presentation"
    class="base-Popper-root MuiAutocomplete-popper css-1s5lphu-MuiPopper-root-MuiAutocomplete-popper"
    style="position: absolute; inset: 0px auto auto 0px; width: 153px; margin: 0px; transform: translate(34px, 307px);"
    data-popper-placement="bottom">
    <div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 css-12vw55q-MuiPaper-root">
        <ul class="MuiAutocomplete-listbox css-1e47ng0-MuiAutocomplete-listbox" role="listbox" id=":r8:-listbox"
            aria-labelledby=":r8:-label">
            <li tabindex="-1" role="option" id=":r8:-option-0" data-option-index="0" aria-disabled="false"
                aria-selected="false" class="MuiAutocomplete-option Mui-focused">that</li>
            <li tabindex="-1" role="option" id=":r8:-option-1" data-option-index="1" aria-disabled="false"
                aria-selected="true" class="MuiAutocomplete-option">the other</li>
            <li tabindex="-1" role="option" id=":r8:-option-2" data-option-index="2" aria-disabled="false"
                aria-selected="false" class="MuiAutocomplete-option">this</li>
        </ul>
    </div>
</div>
